* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex !important;
}

.navbar {
    background-color: #fff;
    height: 1rem 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e7e9eb;
}

.sidebar {
    width: 15.6rem;
    height: 100vh;
    background-color: #1c77c3;
    border-right: 1px solid #e7e9eb  ;
    position: fixed;
}


ul {
    list-style: none;
    padding: 1rem;
}

li {
    margin-bottom: 1rem;
    font-size: medium;
}

a {
    text-decoration: none !important;
}

.innerContent {
    padding: 1rem;
}

.main-row {
    margin-left: 0rem !important;
}
.main-col {
    padding: 0rem !important;
}